# Virtual environment
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
.env.*
!.env.example

# Database
db.sqlite3

# Editor/OS
.vscode/
.DS_Store

# Django
*.log
media/
staticfiles/